body{
    background-color: #ffffff;
}

.content {
	position: relative;
	margin: auto;
    width: 314px;
    /* add padding once clock is go */
    /* padding-top: 30px; */
    text-align: center;
}
.flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexkid{
    margin: 10px 15px 10px 15px;
    text-align: center;
}

#bandButton{
    margin-top:20px;
}
.flexspace{
    flex-grow: 6;
    width: 160px;
    height: 130px;
}

.navbar{
    font-family:'Raleway', sans-serif;
    font-size:30px;
    text-decoration:none;
}
.navbar >a{
    font-family:'Raleway', sans-serif;
    font-size:30px;
    text-decoration:none;
}
.navbar >a:active{
    color: red;
    text-decoration:none;
}
/* visited link */
.navbar,li >a:visited {
    color: red;
    text-decoration: none;
    list-style: none;
}

 /* unvisited link */
.navbar >a:link {
    color: black;
    line-height: 33px;
    text-decoration: none;
}

/* visited link */
.navbar >a:visited {
    color: red;
    text-decoration: none;
}

/* mouse over link */
.navbar >a:hover {
    color: grey;
    text-decoration: none;
}

/* selected link */
.navbar >a:active {
    color: red;
    text-decoration: none;
} 

.texthead {
	position: absolute;
	top: 20px;
	left: 8px;
	color: black;
	height: 0px;
	font-size: 10px;
    font-family: 'Raleway', sans-serif;
    display: none;
}

h4, .local {
    color:black;
}

#d {
	position: absolute;
    top: 0px;
    left:70px;
}
#h {
	position: absolute;
	top: 0px;
	left: 128px;
}
#min {
	position: absolute;
	top: 0px;
	left: 192px;
}
#s {
	position: absolute;
	top: 0px;
	left: 254px;
}
/* #top_right:hover {
    fill: red;
    opacity: .8;
} */

h3, h4 {
    font-family: 'Roboto Mono', monospace;
    font-size:22px;
}

h3, .local {
    color:black;
    text-align: center;
    margin: 10px 0px;
}
h5{
    font-family: 'Roboto Mono', monospace;
    font-size:25px;
    font-style:italic;
    color:black;
    margin: 0px 6px 0px 6px;
}
h6{
    font-family:'Raleway', sans-serif;
    font-size:16px;
    text-align: left;
    line-height: 1.5;
    color:black;
    margin: 0px 6px 0px 6px;
    text-align: center;
}
.bandh3{
    margin-top: -35px;
}
.localup {
    font-family:'Raleway', sans-serif;
    font-size:16px;
    text-align: left;
    line-height: 1.5;

}

.local {
    font-family:'Raleway', sans-serif;
    font-size:18px;
}

.content >a {
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    text-decoration:none;
}
 /* unvisited link */
.content >a:link {
    color: black;
    line-height: 33px;
    text-decoration: none;
}

/* visited link */
.content >a:visited {
    color: red;
}

/* mouse over link */
.content >a:hover {
    color: grey;
}

/* selected link */
.content >a:active {
    color: red;
} 

.button{
	width: 100%;
	color: #ffff;
	background-color: black;
	font-size: 17px;
	border: none;
	font-family: 'Raleway', san serif;
    text-decoration: none;
    padding:10px;
    margin:0 10px 15px 0;
}
.button a{
    padding: 20px 100px 20px 100px;
}
 /* unvisited link */
.button >a:link {
    color: #ffffff;
    line-height: 33px;
    text-decoration: none;
}

/* visited link */
.button >a:visited {
    color: red;
    text-decoration: none;
}

/* mouse over link */
.button >a:hover {
    color: grey;
    text-decoration: none;
}
/* udpate button styling */
.upd8{
	width: 100%;
	color: black;
	background-color: #ffffff;
	font-size: 17px;
	border: 2px solid red;
	font-family: 'Raleway', san serif;
    text-decoration: none;
    padding:10px;
    margin:45px 10px 15px 0;
}
.upd8 a{
    padding: 20px 80px 20px 80px;
}

 /* unvisited link */
.upd8 >a:link {
    color: black;
    line-height: 33px;
    text-decoration: none;
}

/* visited link */
.upd8 >a:visited {
    color: red;
    text-decoration: none;
}

/* mouse over link */
.upd8 >a:hover {
    color: grey;
    text-decoration: none;
}

.porbtn {
	width: 118px;
	border: 2px solid black;
	padding: 9px 22px;
	margin: 0px 0px 30px 0px;
	cursor: pointer;
}
.addon {
	display: none;
	color: black;
	width: 263px;
	margin: auto;
	line-height: 27px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 14px;
	border: 2px solid black;
}


.mobiletimer {
	position: relative;
    top: 11px;
    margin-top: 50px;
}
#countDown {
	text-align: center;
	font-size: 24px;
	font-family: monospace;
	color: red;
	background-color: black;
	padding: 7px;
	display: inline-block;
	margin: auto;
}

.date{
    margin-top: 33px;
}

.details {
	color: black;
	font-size: 11px;
	font-family: 'Raleway', sans-serif;
	margin-top: 38px;
	margin-bottom: 8px;
}
.content a:last-child {
	margin-bottom: 7px;
	padding-bottom: 17px;
}
#updatepara{
    text-align: left;
    color: black;
}
.italics{
    font-style: italic;
    text-align: left;
}
.dent{
    margin-left:15px;
}
.spacer{
    margin: 80px 0px;
}

.img-crop{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.photoLink{
    /* display:inline; */
    margin: 0 auto;
    height: 112%;
    width: auto;
    margin: auto;
}

.linkage{
    text-decoration: none;
}

.linkage h6{
    box-shadow: inset 0 -0.5px 0 0 red;
    transition: box-shadow 1.2s;
    margin: 0px 66px;
}
h6:hover{
    box-shadow: inset 0px -9.5px 0px 0px red;
    transition: boxshadow 1.5s;
}

/* .linkage:link a{
    box-shadow: inset  0 -2.5px 0 0 red;
} */

.linkage:hover a{
    box-shadow: inset  0 -2.5px 0 0 red;
}

@media (min-width:768px){
    .content {
        position: relative;
        margin: auto;
        width: 500px;
        padding-top: 30px;
    }
    .texthead {
        position: absolute;
        top: 65px;
        left: 78px;
        color: black;
        height: 0px;
    }
    #d {
        position: absolute;
        top: 0px;
        left: 68px;
    }
    #h {
        position: absolute;
        top: 0px;
        left: 128px;
    }
    #min {
        position: absolute;
        top: 0px;
        left: 190px;
    }
    #s {
        position: absolute;
        top: 0px;
        left: 252px;
    }
    h3{
        margin-top:45px;
    }
    #countDown {
        text-align: center;
        font-size: 46px;
        font-family: 'Roboto mono', monospace;
        color: red;
        background-color: black;
        padding: 25px;
        /* display: none; */
        margin: auto;
    }
    .porbtn {
        width: 181px;
        border: 2px solid black;
        padding: 9px 22px;
        margin: 30px 0px;
        cursor: pointer;
    }
        .addon {
        display: none;
        color: black;
        width: 400px;
        margin: auto;
        line-height: 39px;
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        text-align: center;
        padding: 14px;
        border: 2px solid black;
    }
    #invite{
        margin-top: 45px;
    }

}

@media (min-width:1024px){
    .texthead {
        position: absolute;
        top: 58px;
        left: 63px;
        color: black;
        height: 0px;
        font-size:25px;
    }
    
    #d {
        position: absolute;
        top:0px;
        left: 102px;
    }
    #h {
        position: absolute;
        top: 0px;
        left: 200px;
    }
    #min {
        position: absolute;
        top: 0px;
        left: 294px;
    }
    #s {
        position: absolute;
        top: 0px;
        left: 398px;
    }
    .content1 {
        position: relative;
        margin: auto;
        width: 1000px;
        padding-top: 89px;
    }
    

}

@media (min-width:1100px){
    .texthead {
        position: absolute;
        top: 105px;
        left: 26px;
        color: black;
        height: 0px;
        font-size: 33px;
    }
    .content {
        position: relative;
        margin: auto;
        width: 1024px;
        padding-top: 135px;
    }
    .floats {
        text-align: center;
    }
    #d {
        position: absolute;
        top:0px;
        left: 222px;
    }
    #h {
        position: absolute;
        top: 0px;
        left: 415px;
    }
    #min {
        position: absolute;
        top: 0px;
        left: 624px;
    }
    #s {
        position: absolute;
        top: 0px;
        left: 827px;
    }
    .cancer{
        width: 497px;
        margin-top: -118px;
    }
    
    h3, h4 {
        font-family: 'Roboto Mono', monospace;
        font-size:56px;
        margin:34px 10px;
    }

    h3, .local {
        color:black;
        text-align: center;
    }

    .local {
        font-family:'Raleway', sans-serif;
        font-size:33px;
    }
    .localup {
        font-family:'Raleway', sans-serif;
        font-size:20px;
        text-align: left;
    }
    .content >a {
        font-size: 36px;
        font-family: 'Raleway',sans-serif;
        text-decoration:none;
        line-height: 44px;
    }
    .content >a:link {
        color: black;
        line-height: 56px;
        text-decoration:none;
    }
    .content a:last-child {
        margin-bottom: 54px;
        padding-bottom: 50px;
    }
    .navbar{
        font-family:'Raleway', sans-serif;
        font-size:40px;
        text-decoration:none;
    }
    .navbar >a:active{
        color: red;
        text-decoration:none;
    }
    /* visited link */
    .navbar >a:visited {
        color: red;
        text-decoration:none;
    }
    .button{
        width: 28%;
        color: #ffff;
        background-color: black;
        font-size: 28px;
        border: none;
        font-family: 'Raleway', san serif;
        text-decoration: none;
        padding:10px;
    }
    .upd8{
        width: 28%;
        color: black;
        background-color: #ffffff;
        font-size: 17px;
        border: 2px solid red;
        font-family: 'Raleway', san serif;
        text-decoration: none;
        padding:10px;
        margin:45px 10px 15px 0;
    }
    .dent{
    margin-left:35px;
    }
    .flexspace{
        flex-grow: 6;
        width: 300px;
        height: 300px;
    }
    .img-crop{
        width: 300px;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
    }
    .mobiletimer {
        margin-top: 0px;
    }  
    .bandh3{
        margin-top: 90px;
    }
    h5{
        font-family: 'Roboto Mono', monospace;
        font-size:36px;
    }
    h6{
        font-family:'Raleway', sans-serif;
        font-size:20px;
    }
}